body {
    width: 960px;
    margin: auto;
    background: #fff;
}
.forumSelectWrapper {
    height: 150px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #39c;
}
.forumSelectBlock {
    width: 150px;
    text-align: center;
    padding-top: 100px;
    display: inline-block;
    border-bottom: 5px solid #39c;
    font-size: 16px;
}
.createLine {
    padding: 20px 0;
    text-align: right;
}
.newTopicButton {
    color: #fff;
    font-size: 18px;
    padding: 8px;
    background: #39c;
    text-align: center;
    display: inline-block;
}
.forumList {
    float: left;
    width: 78%;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.forumSidebar {
    float: right;
    width: 20%;
    background-color: #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 30px 6123px 30px;
    margin-bottom: -6123px;
    text-align: center;
}
.fsImgBox > a > img {
    max-width: 100px;
    max-height: 100px;
}
.forumGbody {
    border-top: 1px solid #ddd;
    padding-top: 5px;
    overflow: hidden;
}
.forumList > thead > tr > th {
    font-size: 14px;
    color: #acacac;
    padding-bottom: 20px;
}
.forumTitle {
    vertical-align: middle;
    max-width: 350px;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
}
.forumGray {
    color: #acacac;
    padding: 5px 0;
}
.forumList > tbody > tr:nth-child(2n+3) {
    border-top: 1px solid #ddd;
}
.forumList > tbody > tr:nth-child(2n+3) > td {
    padding-top: 5px;
}
.forumTopic {
    text-align: left;
}
.fsGray {
    font-size: 14px;
    color: #acacac;
}
.fsName {
    padding: 5px 0 15px;
}
.fctTitle {
    font-size: 20px;
    color: #333;
}
.forumContentWrapper {
    line-height: 150%;
    float: left;
    width: 78%;
}
.fcUser {
    padding: 10px 0 15px;
}
.fcReply {
    border-bottom: 1px solid #ddd;
    padding: 15px 0 10px;
}
.replyColour {
    color: #88d8bf;
}
.fcReplyBox {
    border-bottom: 1px solid #ddd;
}
.editBlock {
    width: 99%;
    resize: none;
    margin: 10px 0 15px;
}
.fcPostButton {
    background: #8bd7bf;
    color: #fff;
    float: right;
    padding: 9px 60px;
    border: none;
    cursor: pointer;

}
.fcAvatar {
    max-width: 10px;
    max-height: 10px;
}
