
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family:"Microsoft Yahei";
	text-decoration: none;
	border-collapse:collapse;
}
html,body { height: 100%;}
img{
	border: none;
}
.load-box {
    background: rgba(0,0,0,.8);
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    z-index: 1000000000000
}
.spinner {
margin: -30px 0 0 -25px;
width: 50px;
height: 60px;
        text-align: center;
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
}

.spinner > div {
    background-color: #67CF22;
height: 100%;
width: 6px;
display: inline-block;

         -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
transform: scaleY(0.4);
           -webkit-transform: scaleY(0.4);
    }  20% {
transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
    }
}
.data_concentrator{
	width: 1280px;
	height: 800px;
	margin: 0 auto;
}
.head{
	height: 72px;
	width: 1280px;
	
	background: url(../img/head_bg.png);
	border-bottom:3px #063060 solid;
}
.head .en_logo{
	float: left;
	width: 134px;
	height: 33px;
	margin: 20px 0 0 10px; 
}
.en_logo img{
	width: 134px;
	height: 33px;
}
.head .en_text{
	color:#fff;
	float: left;
	font-size:20px;
	margin: 23px 0 0 40px;
}
.head .en_text span{
	font-size:15px;
}

.config{
	float: right;
	width: 540px;
	height:  70px;
	margin-right: 65px;
}
.config .acc_ment{
	float: right;
	margin: 8px 0 0 0;
}
.config .acc_ment div{
	float: left;
	 
}
.config .acc_ment div a{
	float: left;
	color: #95d2e6;
	font-size: 12px;
}
.config .acc_ment .user_ico{
	
	background: url(../img/user_ico.png) left no-repeat;
}
.config .acc_ment .user_ico a{
	
	margin:2px 0 0 20px;
}
.config .acc_ment .pass_ico{
	margin-left: 26px;
	background: url(../img/pass_ico.png) left no-repeat;
}
.config .acc_ment .pass_ico a{
	margin:2px 0 0 12px;
}
.config .acc_ment .exit_ico{
	margin-left: 20px;
	background: url(../img/exit_ico.png) left no-repeat;
}
.config .acc_ment .exit_ico a{
	margin:2px 0 0 20px;
}
.config ul{
	clear:both;
	float: left;
	margin: 15px 0 0 10px;
}
.config ul li{
	float: left;
	color: #fff;
	margin:0 0 0 10px;
	font-size: 12px;
}

.config ul li div span{
	font-family:"宋体";
}

.config ul li .menu{
	width: 96px;
	height: 23px;
	cursor:pointer;
	background: url(../img/config_bgico.png) no-repeat;
}
.config ul li .menu span{
	float:left;
	width: 96px;
	text-align: center;
	margin: 4px 0 0 0;
}
.config ul li .clmenu{
	width: 96px;
	height: 36px;
	cursor:pointer;
	margin:-6px 0 0 0;
	background: url(../img/clic_icobg.png) no-repeat;
}
.config ul li .clmenu span{
	float:left;
	width: 96px;
	text-align: center;
	margin: 12px 0 0 0;
}

.drop_down{
	display:none;
	
	color: red;
	
}
.cldrop_down{
	display: block;
	
}

.content{
	position:absolute;
	height: 728px;
	width: 1280px;
	margin:3px 0 0 -695px;
	
}

.content .content_left{
	float:left;
	height: 728px;
	width: 155px;
	border-right: 1px #AECBDA solid;
	background: #E6F3FB;
}
.twcontent .content_left,.thcontent .content_left,.focontent .content_left,.fivcontent .content_left{
	float:left;
	height: 928px;
	width: 155px;	
	background: #E6F3FB;
	margin-top:3px;
	border-right: 1px #AECBDA solid;
}

.content .content_right{
	display: none;
}
.content  .bloserial,.content  .twbloserial,.content  .thbloserial,.content  .fobloserial,.content  .fivbloserial{
	display: block;
}
.content .content_right .open{
	cursor: pointer;
}
.content .content_right .shut_down{
	color: #9b9b9b;
	
}
.content .content_right .spac{
	
	margin-left: 16px;
}
.content .zeserial .content_right{
	position:absolute;
	width: 1124px;
	height: 928px;
	overflow:hidden;
	margin: -25px 0 0 155px;
	
}
.content .fiserial .content_right{
	position:absolute;
	width: 1124px;
	height: 728px;
	overflow:hidden;
	margin: -52px 0 0 155px;
	
}
.content .twserial .content_right{
	position:absolute;
	width: 1124px;
	height: 728px;
	overflow:hidden;
	margin: -79px 0 0 155px;
	
}
.content .thserial .content_right{
	position:absolute;
	width: 1124px;
	height: 728px;
	overflow:hidden;
	margin: -106px 0 0 155px;
	
}
.content .foserial .content_right{
	position:absolute;
	width: 1124px;
	height: 728px;
	overflow:hidden;
	margin: -133px 0 0 155px;
	
}
.content .fodata .content_right{
	position:absolute;
	width: 1124px;
	height: 728px;
	overflow:hidden;
	margin: -21px 0 0 155px;
	
}
.content .twfodata .content_right{
	position:absolute;
	width: 1124px;
	height: 728px;
	overflow:hidden;
	margin: -48px 0 0 155px;
	
}
.content .thfodata .content_right{
	position:absolute;
	width: 1124px;
	height: 728px;
	overflow:hidden;
	margin: -75px 0 0 155px;
	
}
.content .fofodata .content_right{
	position:absolute;
	width: 1124px;
	height: 728px;
	overflow:hidden;
	margin: -102px 0 0 155px;
	
}
.content .fivfodata .content_right{
	position:absolute;
	width: 1124px;
	height: 728px;
	overflow:hidden;
	margin: -129px 0 0 155px;
	
}
.content .fivserial .content_right{
	position:absolute;
	width: 1124px;
	height: 728px;
	overflow:hidden;
	margin: -160px 0 0 155px;
	
}
.content .siserial .content_right{
	position:absolute;
	width: 1124px;
	height: 728px;
	overflow:hidden;
	margin: -187px 0 0 155px;
	
}
.content .seserial .content_right{
	position:absolute;
	width: 1124px;
	height: 728px;
	overflow:hidden;
	margin: -214px 0 0 155px;
	
}
.content .eiserial .content_right{
	position:absolute;
	width: 1124px;
	height: 728px;
	overflow:hidden;
	margin: -241px 0 0 155px;
	
}
.twcontent{
	position:absolute;
	height: 728px;
	width: 1280px;
	margin:0 0 0 -801px;
	
}
.thcontent{
	position:absolute;
	height: 728px;
	width: 1280px;
	margin:0 0 0 -907px;
	
}
.focontent{
	position:absolute;
	height: 728px;
	width: 1280px;
	margin:0 0 0 -1013px;
	
}
.fivcontent{
	position:absolute;
	height: 728px;
	width: 1280px;
	margin:0 0 0 -1119px;
}

.content .info_text{
	width: 155px;
	height: 26px;
	cursor:pointer;
	border-bottom: 1px #AECBDA solid;
	background: url(../img/menu_reico.png) repeat;
}
.content .info_text span{
	float:left;
	color:#013356;
	font-size: 12px;
	margin: 7px 0 0 20px;
}
.content .twserial_info{
	width: 155px;
	height: 26px;
	cursor:pointer;
	border-bottom: 1px #AECBDA solid;
	background: url(../img/menu_reico.png) repeat;
}
.content .twserial_info span{
	float:left;
	color:#013356;
	font-size: 12px;
	margin: 7px 0 0 20px;
}
.content .thserial_info{
	width: 155px;
	height: 26px;
	cursor:pointer;
	border-bottom: 1px #AECBDA solid;
	background: url(../img/menu_reico.png) repeat;
}
.content .thserial_info span{
	float:left;
	color:#013356;
	font-size: 12px;
	margin: 7px 0 0 20px;
}
.content .fivserial_info{
	width: 155px;
	height: 26px;
	cursor:pointer;
	border-bottom: 1px #AECBDA solid;
	background: url(../img/menu_reico.png) repeat;
}
.content .fivserial_info span{
	float:left;
	color:#013356;
	font-size: 12px;
	margin: 7px 0 0 20px;
}
.content .clinfotext{
	width: 169px;
	height: 28px;
	background: url(../img/hove_icobg.png) repeat;
}

.content .clinfotext span{
	float:left;
	color:#fff;
	font-size: 14px;
	font-weight:bold;
	margin: 5px 0 0 20px;
}
.content .twclinfotext{
	width: 169px;
	height: 28px;
	background: url(../img/hove_icobg.png) repeat;
}
.content .twclinfotext span{
	float:left;
	color:#fff;
	font-size: 14px;
	font-weight:bold;
	margin: 5px 0 0 20px;
}
.content .thclinfotext{
	width: 169px;
	height: 28px;
	background: url(../img/hove_icobg.png) repeat;
}
.content .thclinfotext span{
	float:left;
	color:#fff;
	font-size: 14px;
	font-weight:bold;
	margin: 5px 0 0 20px;
}
.content .foclinfotext{
	width: 169px;
	height: 28px;
	background: url(../img/hove_icobg.png) repeat;
}
.content .foclinfotext span{
	float:left;
	color:#fff;
	font-size: 14px;
	font-weight:bold;
	margin: 5px 0 0 20px;
}
.content .fivclinfotext{
	width: 169px;
	height: 28px;
	background: url(../img/hove_icobg.png) repeat;
}
.content .fivclinfotext span{
	float:left;
	color:#fff;
	font-size: 14px;
	font-weight:bold;
	margin: 5px 0 0 20px;
}
.content_right .current_position{
	display:table;
	width: 1020px;
	min-height: 30px;
	margin: 15px auto;
  
}
.current_position p{
	float: left;
	color:#1e87bc;
	margin-top: 7px;
	font-family:"宋体";
}
.current_position p img{
	float:left;
	width: 15px;
	height: 16px;
	margin:-1px 3px 0 0;
}
.current_position p span{
	font-weight: bold;
}

.content_right .current_sele{
	float: right;
}
.content_right .current_sele input{
	float: left;
	width:165px;
	height:25px;
	border-radius:3px;
	margin:2px 0 0 0;
	border: 1px #C6CBD0 solid;
}
.content_right .current_sele select{
	width: 141px;
	height: 27px;
	border-radius:3px;
	border: 1px #BFBFBF solid;
	margin:2px 0 0 6px;
}

.content_right table{
	width: 1020px;
	height:auto;
	height: 30px;
	color:#266f94;
	margin: 15px auto;
	text-align: center;
}
.content_right table tr th{
	background: #E1E4E6;
}
.content_right table tr th,.content_right table tr td{
	height: 28px;
	width:33%;
	border: 1px #C3CDD2 solid;
}
.content_right table tr th span{
	background: #E1E4E6;
}
.content_right .equts_table{
	float:left;
	width: 810px;
	cursor:default;
	margin: 20px 0 20px 5px;
}
table {
    table-layout: fixed;
    white-space: nowrap;
    text-overflow: ellipsis;
}
td {
    overflow: hidden;
    text-overflow: ellipsis;
}
.content_right .equts_table th{
	width: 10%;
}
.content_right .equts_table .instrfith span{
	float: left;
	margin: 4px 0 0 6px;
}
.content_right .equts_table .instrfith{
	width: 13%;
}
.content_right .equts_table .instrfith>span{
	color: #266f94;
}
.content_right .equts_table td{
	width: 10%;
}
.content_right .equt_table tr td div{
	width: 80px;
	height: 20px;
	line-height: 20px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    
}
.content_right .equt_table tr td .equt_td{
	 border: 1px #c3cdd2 solid; 
}
.content_right .save_cancel{
	width: 1020px;
	height: 24px;
	margin:10px auto;
	
}
.save_cancel .save_cancelrig{
	float: right;
	margin-right: 90px;
}
.content_right .save_cancel .save{
	float: left;
	width: 76px;
	height: 23px;
	cursor:pointer;
	background: url(../img/save_ico.png) repeat;
}
.content_right .save_cancel .cancel{
	float: left;
	width: 76px;
	height: 23px;
	margin-left:15px;
	cursor:pointer;
	background: url(../img/cancel_ico.png) repeat;
}
.content_right .save_cancel .cancels{
	float: left;
	width: 76px;
	height: 23px;
	margin-left:15px;
	cursor:pointer;
	background: url(../img/save_ico.png) repeat;
}
.save_cancel .save_cancelrig span{
	float: left;
	width: 76px;
	color:#fff;
	text-align: center;
	margin-top: 4px;
}

.content_right .port_config{
	display:table;
	width: 350px;
	height:auto;
	height: 30px;
	color:#266f94;
	margin: 50px auto;
	text-align: center;

}
.content_right .port_config div{
	clear: both;
	float: left;
	margin-top: 20px;
}
.content_right .port_config div label{
	float: left;
	width:100px;
	margin-top: 5px;
}
.content_right .port_config div select{
	float: left;
	width: 200px;
	height:27px;
	margin-left:30px;
	border: 1px solid #bfbfbf;
}
.content_right .current_position .equt{
	
	width: 1020px;
	min-height: 30px;
	margin: 15px auto;
  
}
.content_right .current_position .equtinfo{
	
	display:table;
	width: 990px;
	margin: 5px auto;
  
}
.equtinfo li select{
	width: 137px;
    font-size: 12px;
}
.config .equtinfo  li{
	margin: 10px 0 0 38px;
	
}

.config .equtinfo  li label{
	float:left;
	color: #1e87bc;
	width: 70px;
}

.config .equtinfo  li label .fiequtsp{
	float: right;
	color: #1e87bc;
	margin-right:9px;
	font-family: "微软雅黑";
}

.config .equtinfo  li label span{
	color: red;
}
.addequt{
	clear: both;
    float:left;
    cursor: pointer;
    height: 23px;
    width: 76px;
    margin:10px 0 0 65px;
    
    background: url("../img/save_ico.png") no-repeat;
}

 .addequt span {
    color: #fff;
    float: left;
    margin-top: 4px;
    text-align: center;
    width: 76px;
}

.content_right  .screequt{
	display:table;
	color:#1e87bc;
	width: 1020px;
	min-height: 40px;
	margin: 15px auto;
    border:1px solid #c3cdd2;
}

.content_right  .screequt select{
	float: left;
    height: 21px;
    width: 50px;
    font-size:12px;
    margin: 0 0 0 20px;
}
.content_right  .screequt select.gnmPopSel{
    margin-left: 5px;
}
.content_right .equts_table .instrfith select{
	float: left;
	margin: 0 0 0 10px;
}
.screequt .equt_left{
	float: left;
	width: 200px;
	height: 650px;
	border-right: 1px solid #c3cdd2;
}


.fiequtmenu .equt_right{
	
	position:absolute;
	width: 815px;
	height: 630px;
    /*
	margin:-144px 0 0 200px;
    */
top: 65px;
left: 252px;
	
}
.twequtmenu .equt_right{
	position:absolute;
	width: 815px;
	height: 630px;
	margin:-170px 0 0 200px;
	border: 1px green solid;
}
.equt_menufo .equt_right{
	display: none;
}
.equt_menufo .clequt{
	display: block;
}
.screequt .equt_left p{
	float: left;
	margin: 10px 0 0 0;
}
.screequt .equt_left label{
	float: left;
	margin: 1px 0 0 0;
}
.screequt .equt_left label>span{
	color: red;
}
.screequt .equt_left input{
	float: left;
	margin-left:5px;
	width: 120px;
}

.equt_left .equt_lefthead{
	clear:both;
	float: left;
	width:200px;
	height: 534px;
}
.equt_lefthead .equt_menufo{
	float:left;
	width:200px;
	height: 26px;
	
	border-bottom: 1px #C8D1D6 solid;
	background: #F1F1F1 ;
	
}
.equt_menufos{
	float:left;
	width:200px;
	height: 26px;
	cursor:pointer;
	border-top:1px #aecbda solid;
	border-bottom: 1px #aecbda solid;
	background: url("../img/menu_reico.png") repeat ;
	margin: 20px 0 0 0;
}


.content_right .equt_table tr th,.content_right .equt_table tr td{
	width: 10%;
}


.config .paging{
	clear:both;
	float:none;
	width: auto;
	height: auto;
	margin:30px auto;
	display: table;
	font-size: 12px;
}
.paging li{
	color: #1e87bc;
	width: 30px;
	height: 20px;
	cursor:pointer;
	border-radius:4px;	
	border: 1px #c3cdd2 solid;
}
.paging .firstpag,.paging .lastpag{
	width: 50px;
	height: 20px;
	border-radius:4px;
	border: 1px #c3cdd2 solid;
}
.paging li span{
	color: #1e87bc;
    float: left;
    width: 30px; 
     height:17px;
    text-align: center;
    margin-top: 2px;
}
.paging .firstpag span,.paging .lastpag span{
    float: left;
    width: 50px; 
    height:17px;
    text-align: center;
    margin-top: 2px;
}

.config .paging li:hover{	
	background: #1e87bc;
}
.config .paging li span:hover{
	color:#fff;	
}
.dhcp_state{
	display:block;
	width: 16px;
	height: 16px;
	margin:0 auto;
	cursor:pointer;
	background: url("../img/fault_ico.png");
}
.sucdhcp {
	display:block;
	width: 14px;
	height: 14px;
	margin:0 auto;
	cursor:pointer;
	background: url("../img/sucess_icon.png");
}
#sernetwork + .content_right .dhcp_state{
	display:block;
	width: 16px;
	height: 16px;
	margin:0 auto;
	background: url("../img/fault_ico.png");
}
#sernetwork + .content_right .sucdhcp{
	display:block;
	width: 14px;
	height: 14px;
	margin:0 auto;
	background: url("../img/sucess_icon.png");
}

.dhcpsele{
	width: 100px;
}
#dhcpsele_tbody .dhcpsele_editor{
	width:50%;
	margin:0 auto;
	border: 1px #c3cdd2 solid; 
}
.curequi  div{
	float: left;
	margin: 1px 0 0 5px;
}
.curequi>div{
	margin: 10px 0 0 20px;
}
.curequi .curequifi{
	margin: 10px 0 0 10px;
}
.equt_menufo .xdybpzItem > span{
	float:left;
	color:#013356;
	text-align: center;
	margin: 6px 0 0 20px;
    cursor: pointer;
}
.equt_menufos>span{
	float:left;
	width:200px;
	color:#000;
	font-size:14px;
	text-align: center;
	margin: 3px 0 0 0;
	font-family: "微软雅黑"!important;
}
.equt_lefthead .cleqmenfo{
	
	background: #fff;
}
.equt_lefthead .cleqmenfo .xdybpzItem > span{
	color:#21aae3;
	
}

.modify_equ{
	float:left;
    cursor: pointer; 
    height: 23px;
    width: 76px;
    margin: 0 auto 0 45px;
    background: url("../img/save_ico.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.modify_equ span{
	color: #fff;
    float: left;
    margin-top: 4px;
    text-align: center;
    width: 76px;
}
 
.sibtextst{
	width:100px;
	height:auto;
	cursor:default;
	
}
.sty{
	border: 1px solid #c3cdd2;
}


/*备份与恢复样式*/
.backup_restore{
	display:table;
	width: 1020px;
	height: auto;
	margin: 20px auto;
}
.backup_restore .backup{
	position:relative;
	width: 650px;
	height: 200px;
	margin:30px auto;
	border: 1px solid #c3cdd2;
}
.backup_restore .backup .backup_title{
	position:absolute;
	color: #1e87bc;
	top: -12px;
	left: 30px;
	padding: 5px;
	background: #fff;
	font-family: "宋体";
}
.backup_restore .restore{
	position:relative;
	width: 650px;
	height: 200px;
	margin:50px auto;
	border: 1px solid #c3cdd2;
}
.backup_restore .restore .restore_title{
	position:absolute;
	color: #1e87bc;
	top: -12px;
	left: 30px;
	padding: 5px;
	background: #fff;
	font-family: "宋体";
}

.backup .filepath{
	width: 650px;
	margin: 80px auto;
	text-align: center;
}
.backup .filepath label{
	color: #1e87bc;
}
.restore ul{
	margin: 20px 0 0 30px;
}
.restore ul li{
	clear: both;
	color: #1e87bc;
    list-style: disc;
    margin: 10px 0 0 0;
}
.config .restore ul li span{
	font-family: "微软雅黑";
}
.restore ul .rfaset{
	cursor: pointer;
}
.restart{
	
    cursor: pointer; 
    height: 23px;
    width: 76px;
    margin: 200px auto;
    background: url("../img/save_ico.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.restart span {
    color: #fff;
    float: left;
    margin-top: 4px;
    text-align: center;
    width: 76px;
}
.backup_restore .passwords{
	width:270px;
	margin: 100px auto;
	text-align: center;
}
.backup_restore .password{
	clear:both;
	float:left;
	margin-top: 20px;
}
.backup_restore .password label{
	float:left;
	width:80px;
	color: #1e87bc;
	margin: 3px 0 0 0;
}
.backup_restore .password input{
	float:left;
	width:150px;
	margin-left: 10px;
}
.backup_restore .password label span{
	float:right;
	
}
.newpaging{
	clear: both;
}
.newpaging .paging {
    clear: both;
    float: left;
    font-size: 12px;
    height: auto;
    margin:-5px 0 0 0;
    width: auto;
}
.newpaging .newaddconfig{
	float: right;
}
.newpaging .saveconfig{
    cursor: pointer;
    float: left;
    height: 23px;
    margin: -3px 0 0 0px;
    width: 76px;
    background: url("../img/save_ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.newpaging .saveconfig span{
    color: #fff;
    float: left;
    margin-top: 4px;
    text-align: center;
    width: 76px;
}
.newpaging  .dataadd{	
    cursor: pointer;
    float: left;
    height: 23px;
    margin: -3px 20px 0 0;
    width: 76px;
    background: url("../img/save_ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.newpaging  .dataadd span{
	color: #fff;
    float: left;
    margin-top: 4px;
    text-align: center;
    width: 76px;
}











.newcontent{
	display: table;
	width: 1280px;
}
.newdatatable{
	clear:both;
	color: #266f94;
    height: 30px;
    text-align: center;
    margin: 100px auto 0;
    table-layout:fixed;
    width: 1120px;
}
.newdatatable th,.newdatatable td{
	border: 1px solid #c3cdd2;
    height: 32px;
}
.newdatatable th{
	background: #e1e4e6;
}
.newdatatable td .open{
	cursor: pointer;
}
.newdatatable td .spac{
	margin: 0 0 0 10px;
}
.newcontent .current_position{
	margin: 20px 0 0 0;
}
.newcontent .equt{
	margin: 0 0 0 25px;
}
.newcontent .equt select{
	width: 60px;
}




/*弹出层样式*/

.maskbg {
	
	display:none;
	z-index: 3;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	filter: Alpha(Opacity=30);
	/* IE */
	-moz-opacity: 0.5;
	/* Moz + FF */
	opacity: 0.5;
	background-color: #000;
}

.pop-up{
	display:none;
	position: fixed;
	left:50%;
	top:50%;
	margin:-160px 0 0 -240px;
	width: 500px;
	height: 320px;
	background: #fff;
	z-index:10;
  
    border-radius: 4px;
}
.pop-up .pop-upinfo{
	display: table;
	width: 240px;
	height:auto;
	margin: 3px auto;
}
.pop-up div p{
	float:left;
	color: #266f94;
	font-size:12px;
	margin:10px 0 0 10px;
	
}
.pop-up div p input{
	font-size:12px;
	width:120px;
	margin: 0 0 0 5px;
}
.pop-up div p label{
	float: left;
	width:80px;
	
}
.pop-up div p label span{
	float: right;
}
.pop-up .saveform{
    cursor: pointer;
    float: left;
    height: 23px;
    width: 76px;
     margin:20px 0 0 170px; 
   	background: url("../img/save_ico.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.pop-up .saveform span{
    color: #fff;
    float: left;
    margin-top: 4px;
    text-align: center;
    width: 76px;
    font-size: 13px;
    font-family: "宋体";
}
.pop-up .cancelform{
    cursor: pointer;
    float: left;
    height: 23px;
    width: 76px;
    margin:20px 0 0 25px; 
   	background: url("../img/save_ico.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.pop-up .cancelform span{
    color: #fff;
    float: left;
    margin-top: 4px;
    text-align: center;
    width: 76px;
    font-size: 13px;
    font-family: "宋体";
}
/*登录样式*/

.login{
	position: absolute;
	width: 500px;
	height: 200px;
	top: 50%;
	left: 50%;
    margin: -120px 0 0 -250px;
    border: 1px solid #c3cdd2;
}
.login span{
	color: #1e87bc;
}
.login .acc{
	width: 200px;
	margin: 50px auto 0;
}
.login .pas{
	width: 200px;
	margin: 20px auto 0;
}
.login input{
	width: 150px;
}
.login .saveacc{
	width: 200px;
	margin: 30px auto 0;
}
.login .saveacc .sucess{
	float:left;
	cursor: pointer; 
    height: 23px;
    width: 76px;
    margin: 0px auto;
    background: url("../img/save_ico.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.login .saveacc .sucess span {
    color: #fff;
    float: left;
    margin-top: 2px;
    font-size:13px;
    text-align: center;
    width: 76px;
}
.login .saveacc .cancel{
	float:left;
    cursor: pointer; 
    height: 23px;
    width: 76px;
    margin: 0px auto 0 45px;
    background: url("../img/save_ico.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.login .saveacc .cancel span {
    color: #fff;
    float: left;
    margin-top: 2px;
    font-size:13px;
    text-align: center;
    width: 76px;
}
.hide { display: none; }
.xdybpzEdit { padding-right: 5px;}
.equt_menufo .xdybpzItem > span.xdybpzListDel { 
    float: right;
    padding-right: 20px;
}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
}
.clearfix {
    *zoom: 1;
}
.equt_menufo .xdybpzItem > span.equt_menufotext {
    display: inline-block;
    text-align: left;
    width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
