p {
    line-height: 24px;
}
.gbdsTitle {
    font-size: 20px;
    color: #61c6b2;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.gbdsHead {
    color: #999;
    font-size: 16px;
    width: 240px;
    display: inline-block;
}
.gbdsContent {
    color: #777;
    font-size: 16px;
}
.gbdsSubTitle {
    font-size: 20px;
    color: #61c6b2;
    padding-top: 22px;
    border-top: 1px solid #ccc;
    margin-top: 40px;
}
.gbdsDetails {
    font-size: 16px;
    color: #61c6b2;
}
.gbdshBuyer {
    width: auto;
}
.gbdscBuyer {
    margin-right: 80px;
}
