.questionWrap {
    width: 960px;
    margin: auto;
    padding: 40px 0;
}
.questionTitle {
    font-size: 32px;
    text-align: center;
    padding-bottom: 25px;
}
.questionTab {
    width: 876px;
    margin: auto;
    padding-bottom: 100px;
}
.questionGB,
.questionDelivery,
.questionDeposit {
    float: left;
    cursor: pointer;
}
.questionTabTitle {
    font-size: 20px;
    text-align: center;
    width: 292px;
    padding-top: 15px;
    padding-top: 10px;
    color: #acacac;
}
.qgbIcon {
    background: url('../images/product/question07.gif') no-repeat 0 -46px;
    width: 41px;
    height: 46px;
    display: block;
    margin: auto;
}
.qDeliveryIcon {
    background: url('../images/product/question07.gif') no-repeat 0 -129px;
    width: 50px;
    height: 37px;
    display: block;
    margin: 9px auto 0;
}
.qDepositIcon {
    background: url('../images/product/question07.gif') no-repeat 0 -195px;
    width: 50px;
    height: 29px;
    display: block;
    margin: 17px auto 0;
}
.qgbIcon01 {
    background: url('../images/product/question07.gif') no-repeat;
} 
.qDeliveryIcon01 {
    background: url('../images/product/question07.gif') no-repeat 0 -92px;
} 
.qDepositIcon01 {
    background: url('../images/product/question07.gif') no-repeat 0 -166px;
} 
.gray{
    filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    -webkit-filter: saturate(5);
}
.questionTabTitleSelected {
    color: #777;
}
.questionContentBlock {
    width: 266px;
    float: left;
    margin-right: 58px;
}
.questionContentBlock:last-child {
    margin-right: 0;
}
.questionSubTitle {
    font-size: 16px;
    padding-bottom: 25px;
}
.questionSubInfo {
    color: #8a8a8a;
}
.questionBlock {
    width: 914px;
    margin: auto;
}
