html,body,article {
    height: 100%;
    width: 100%;
}
#hHeader {
    height: 100%;
    background: url('../img/hHeader.jpg') no-repeat fixed;
    display: block;
    background-size: cover;
    overflow: hidden;
}
.howTitle {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 72px;
}
.hhWords {
    padding-top: 30%;
    color: #fff;
}
.howSubTitle {
    font-size: 20px;
}
.hfTitle {
    width: 60%;
    padding: 40px 0 30px;
}
.hfIcon01 {
    background: url('../img/hf01.jpg') no-repeat;
    width: 146px;
    height: 161px;
    margin: 0 auto 30px;
}
.hfList {
    width: 960px;
    margin: 0 auto 30px;
}
.hfList > li > a {
    float: left;
    display: block;
    background: url('../img/hf03.jpg') no-repeat;
    width: 151px;
    height: 151px;
    margin-right: 110px;
    margin-top: 60px;
}
.hfList > li:nth-child(4n) > a {
    margin-right: 0;
}
#hFind {
    border-bottom: 4px solid #39c;
    overflow: hidden;
}
.hoTitle {
    padding-top: 30px;
}
.hoImg {
    height: 991px;
    margin: auto;
    display: block;
    width: 960px;
}
.hoi01 {
    background: url('../img/ho01.jpg') 50% no-repeat fixed;
}
.hoSep {
    border-bottom: 4px solid #000;
}
.hoi02 {
    background: url('../img/ho02.jpg') 50% no-repeat fixed;
}
#hGroup {
    background: #f2982e;
    background-attachment: fixed;
    color: #fff;
    height: 800px;
    border-bottom: 4px solid #ae4c34;
}
.hgTitle {
    width: 60%;
    padding: 40px 0 30px;
}
.hgSubTitle {
    line-height: 22px;
    width: 55%;
}
.howIcon {
    background-attachment: fixed;
    position: absolute;
    z-index: 2;
}
.hgIcon01 {
    background: url('../img/hg04.png') no-repeat;
    left: 5%;
    width: 60px;
    height: 141px;
}
.hgIcon02 {
    background: url('../img/hg05.png') no-repeat;
    left: 25%;
    width: 51px;
    height: 166px;
    margin-top: 10px;
}
.hgIcon03 {
    background: url('../img/hg06.png') no-repeat;
    left: 48%;
    width: 60px;
    height: 160px;
    margin-top: -8px;
}
.hgIcon04 {
    background: url('../img/hg07.png') no-repeat;
    right: 25%;
    width: 62px;
    height: 146px;
    margin-top: 10px;
}
.hgIcon05 {
    background: url('../img/hg08.png') no-repeat;
    right: 5%;
    width: 62px;
    height: 148px;
}
.hgIcon06 {
    background: url('../img/hg02.png') no-repeat;
    left: 46%;
    width: 26px;
    height: 164px;
    margin-top: 70px;
}
.hgi601 {
    margin-left: -30px;
    margin-top: 85px;
}
.hgi602 {
    margin-left: -60px;
    margin-top: 120px;
}
.hgi603 {
    margin-left: -30px;
    margin-top: 160px;
}
.hgi604 {
    margin-left: 0px;
    margin-top: 200px;
}
.hgi605 {
    margin-left: 30px;
    margin-top: 160px;
}
.hgi606 {
    margin-left: 60px;
    margin-top: 120px;
}
.hgi607 {
    margin-left: 30px;
    margin-top: 85px;
}
.hgi608 {
    margin-left: 0px;
    margin-top: 135px;
}
#hInvite {
    height: 700px;
    border-bottom: 4px solid #5bbccd;
}
.hiTitle {
    width: 75%;
    padding: 40px 0 30px;
}
.hiSubTitle {
    width: 60%;
    line-height: 25px;
}
.hiIcon01 {
    background: url('../img/hi02.jpg') no-repeat;
    width: 518px;
    height: 106px;
    left: 35%;
    z-index: 3;
    margin-top: 10%;
}
.hiIcon02 {
    background: url('../img/hi01.jpg') no-repeat;
    width: 313px;
    height: 104px;
    left: 35%;
    margin-top: 10%;
}
#hSave {
}
.hsTitle {
    padding: 40px 0 30px;
}
.hsIcon01 {
    background: url('../img/hs01.jpg') no-repeat;
    width: 128px;
    height: 108px;
    left: 45%;
    margin-top: 5%;
}
.hsSubTitle {
    margin-top: 15%;
    font-size: 28px;
    color: #6ac6b2;
}
.hsHits {
    background: #61c6b2;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-top: 240px;
}
